/Documentation/*.aux
/Documentation/*.log
/Documentation/*.out
/Documentation/*.pdf
/bin-blahtex/
/bin-blahtexml/
blahtex
blahtex.exe
blahtexml
blahtexml.exe

!/Sources/Blahtex/
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
